GROQ_API_KEY="<API_KEY>"
REDIS_URL="redis://<username>:<password>@<host>:<port>"
REDIS_URL_LOCAL="redis://localhost:6379"
GEMINI_API_KEY="<API_KEY>"
MCP_URL = http://127.0.0.1:8080/mcp
OPEN_ROUTER_KEY="sk-or......"
ANTHROPIC_KEY="sk-ant......."
