// honestly , you dont need all these LLMS providers, just choose and delete what you dont need from core/groq.ts and be sure to check the imports in handler/groq.ts to avoid any errors... be sure that is the model being used for the summary when context becomes long in the utils/redis.ts

GROQ_API_KEY="<API_KEY>"
REDIS_URL="redis://<username>:<password>@<host>:<port>"
REDIS_URL_LOCAL="redis://localhost:6379"
GEMINI_API_KEY="<API_KEY>"
MCP_URL = http://127.0.0.1:8080/mcp
OPEN_ROUTER_KEY="sk-or......"
ANTHROPIC_KEY="sk-ant......."
PHONE_ID="<whatsapp-cloud-api-phone-number-id>"
ACCESS_TOKEN="<whatsapp-cloud-api-access-token>"
